<app-page-header
  [pageTitle]="taskId ? 'Edit task' : 'Add new task'"
  navigateBackText="View all tasks"
  (navigateBackEvent)="navigateToTasksList()"
></app-page-header>

<div class="card mx-auto pt-4 m-5 col-8">
  <div class="dard-body">
    <form class="px-5" [formGroup]="addEditTaskForm">
      <div>
        <mat-label class="outline-form-field-top-label">Title</mat-label>
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          class="w-100 rounded-form-field-outline-sm"
        >
          <input
            formControlName="title"
            matInput
            type="text"
            placeholder="Enter task's title"
          />

          <mat-error
            *ngIf="
              addEditTaskForm.controls.title.touched &&
              addEditTaskForm.controls.title.errors
            "
          >
            <ng-container
              [ngSwitch]="addEditTaskForm.controls.title | processFormErrors"
            >
              <ng-container *ngSwitchCase="'required'"
                >Title is required</ng-container
              >
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-label class="outline-form-field-top-label">Description</mat-label>
        <mat-form-field
          class="w-100 rounded-form-field-outline-sm"
          appearance="outline"
          floatLabel="always"
        >
          <textarea
            rows="3"
            formControlName="description"
            matInput
            placeholder="Enter task's description"
          ></textarea>

          <mat-error
            *ngIf="
              addEditTaskForm.controls.description.touched &&
              addEditTaskForm.controls.description.errors
            "
          >
            <ng-container
              [ngSwitch]="
                addEditTaskForm.controls.description | processFormErrors
              "
            >
              <ng-container *ngSwitchCase="'required'"
                >Description is required</ng-container
              >
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-label class="outline-form-field-top-label">Employee</mat-label>
          <mat-form-field
            class="w-100 rounded-form-field-outline-sm"
            appearance="outline"
            floatLabel="always"
          >
            <mat-select
              formControlName="employeeId"
              name="employee"
              placeholder="Select task's employee"
            >
              <mat-option
                *ngFor="let employee of employeesList"
                [value]="employee.id"
              >
                {{ employee.userName }}
              </mat-option>
            </mat-select>

            <mat-error
              *ngIf="
                addEditTaskForm.controls.employeeId.touched &&
                addEditTaskForm.controls.employeeId.errors
              "
            >
              <ng-container
                [ngSwitch]="
                  addEditTaskForm.controls.employeeId | processFormErrors
                "
              >
                <ng-container *ngSwitchCase="'required'"
                  >Employee is required</ng-container
                >
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-label class="outline-form-field-top-label">Project</mat-label>
          <mat-form-field
            class="w-100 rounded-form-field-outline-sm"
            appearance="outline"
            floatLabel="always"
          >
            <mat-select
              formControlName="projectId"
              name="project"
              placeholder="Select task's project"
            >
              <mat-option
                *ngFor="let project of ProjectList"
                [value]="project.id"
              >
                {{ project.title }}
              </mat-option>
            </mat-select>

            <mat-error
              *ngIf="
                addEditTaskForm.controls.projectId.touched &&
                addEditTaskForm.controls.projectId.errors
              "
            >
              <ng-container
                [ngSwitch]="
                  addEditTaskForm.controls.projectId | processFormErrors
                "
              >
                <ng-container *ngSwitchCase="'required'"
                  >Project is required</ng-container
                >
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>

    <mat-divider></mat-divider>

    <div class="d-flex justify-content-between px-5 py-4">
      <button type="reset" class="outline-grey-btn px-4 py-2 w-auto">
        Cancel
      </button>
      <button
        type="submit"
        class="primary-btn px-4 py-2 w-auto"
        (click)="onSubmit(addEditTaskForm)"
      >
        Save
      </button>
    </div>
  </div>
</div>
