<section class="auth-container">
  <div class="container">
    <div class="row justify-content-center align-items-center min-vh-100 text-capitalize">
      <div class="col-md-10 formbg p-4 rounded rounded-2">
        <div class="text-center my-2">
          <img src="assets/images/logo.svg" />
        </div>

        <!-- regForm -->
        <div class="form-container">
          <div class="my-3">
            <p class="text-white">welcome in PMS</p>
            <h4 class="text-main fw-bold fs-2">
              <span class="border-bottom border-warning">L</span>ogin
            </h4>
          </div>
          <form [formGroup]="loginForm">
            <!-- Email Field -->
            <mat-form-field class="w-100" appearance="fill" floatLabel="always">
              <mat-label>Email</mat-label>
              <input type="email" formControlName="email" matInput placeholder="Enter your Email"
                [errorStateMatcher]="matcher" />
              <div *ngIf="
                          loginForm.controls.email.touched && loginForm.controls.email.errors
                        ">
                <ng-container [ngSwitch]="loginForm.controls.email | processFormErrors">
                  <mat-error *ngSwitchCase="'required'">{{
                    AuthErrorMessages.email.required
                    }}</mat-error>
                  <mat-error *ngSwitchCase="'email'">{{
                    AuthErrorMessages.email.pattern
                    }}</mat-error>
                </ng-container>
              </div>
            </mat-form-field>

            <!-- Code Field -->
            <mat-form-field class="w-100" appearance="fill" floatLabel="always">
              <mat-label>New Password</mat-label>
              <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput
                placeholder="Enter Your Password" />
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <div *ngIf="
                          loginForm.controls.password.touched && loginForm.controls.password.errors
                        ">
                <ng-container [ngSwitch]="loginForm.controls.password | processFormErrors">
                  <mat-error *ngSwitchCase="'required'">{{
                    AuthErrorMessages.password.required
                    }}</mat-error>
                  <mat-error *ngSwitchCase="'pattern'">{{
                    AuthErrorMessages.password.pattern
                    }}</mat-error>
                </ng-container>
              </div>
            </mat-form-field>

            <!-- Submit Button -->
            <div class="text-center mt-4">
              <div class="links ">
                <a class="text-main" routerLink="/auth/register-account">Register Now!</a>
                <a class="text-white" routerLink="/auth/verify-account">Have a Code?</a>

              </div>
              <button mat-fab extended color="accent" class="text-white w-100" (click)="submit()">
                Log In
              </button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

</section>