.formbg {
    background-color: rgba($color: #021a3c, $alpha: 0.25);
}

.uploadimg {
    background-image: url("../../images/WhatsApp Image 2024-08-20 at 22.48.38_2d131585.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ngx-dropzone {
    width: 200px;
}

ngx-dropzone-label {
    border-radius: 50%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: "transparent";
}