.auth-container {
  background: url(../../images/bg-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh !important;
  justify-content: center !important;
  align-items: center !important;
  background-size: 100% 100%;
}

.form-container {
  background-color: rgba(45, 72, 85, 1) !important;
  opacity: 0.9;
  border-radius: 16px;
  padding: 1.5rem;
}

// dropzone styling
.uploadimg {
  background-image: url("../../images/USER\ IMG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ngx-dropzone {
  width: 200px;
}

ngx-dropzone-label {
  border-radius: 50%;
}

// angular material input fields
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: "transparent";
}
