.auth-container {
  background: url(../../images/bg-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh !important;
  justify-content: center !important;
  align-items: center !important;
  background-size: 100% 100%;

  ::ng-deep .mat-mdc-text-field-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.form-container {
  background-color: rgba(#315951e5, 0.9) !important;
  border-radius: 16px;
  padding: 1.5rem;
}

// dropzone styling
.uploadimg {
  background-image: url("../../images/USER\ IMG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ngx-dropzone {
  width: 144px;
  height: 140px;
}

ngx-dropzone-label {
  border-radius: 50%;
}
.mat-mdc-form-field-required-marker .mdc-floating-label--required .ng-tns-c1205077789-1 .ng-star-inserted{
  display: none;
  content: none;
}
