$main-color: rgb(240, 161, 53);
$dark-green: rgb(14, 56, 47);
$white-color: #fff;
$muted-dark-green: rgb(81, 86, 45);
$grey: rgb(96, 96, 96);
$active-green: rgb(0, 146, 71);
$pinky: rgb(176, 106, 100);
$primary-color: #466a63;

.links {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
  }
}

// text colors
.text-main {
  color: $main-color;
}

.text-grey {
  color: $main-color;
}

.text-white {
  color: $white-color;
}

.text-dark-green {
  color: $dark-green;
}

.text-active-green {
  color: $active-green;
}

.text-primary {
  color: $primary-color !important;
}

// bg colors
.background {
  .bg-main {
    background-color: $main-color;
  }

  .bg-grey {
    background-color: $main-color;
  }

  .bg-white {
    background-color: $white-color;
  }

  .bg-dark-green {
    background-color: $dark-green;
  }

  .bg-active-green {
    background-color: $active-green;
  }
}

.status {
  width: 100px;
  text-align: center;
  padding: 3px 0;
  color: white;
}

.Active {
  background-color: #009247;
}

.Not-Active {
  background-color: #d20303;
}

.Done {
  background-color: #009247;
}

.ToDo {
  background-color: #e4e1f5;
}

.InProgress {
  background-color: rgba(#ef9b28a3, 0.65);
}
