<div class="bg-white pt-3 pb-2 mt-4 rounded rounded-top-3">
  <div class="d-flex justify-content-between align-items-center">
    <form [formGroup]="filterForm" class="filters">
      <mat-form-field
        (keydown.enter)="onSearch()"
        appearance="outline"
        class="bg-white rounded-form-field-outline"
      >
        <mat-icon matPrefix (click)="onSearch()">search</mat-icon>
        <input
          matInput
          formControlName="searchValue"
          placeholder="Search..."
          class="py-0"
        />
        <mat-error
          *ngIf="filterForm.get('searchValue')?.touched&&filterForm.get('searchValue')?.errors?.['required']"
        >
          Please enter value
        </mat-error>
      </mat-form-field>
      <mat-form-field
        *ngIf="filters && filters.length"
        appearance="outline"
        class="bg-white rounded-form-field-outline mx-3 filter-dropdown"
      >
        <mat-icon matPrefix>filter_list</mat-icon>

        <mat-select placeholder="Filter" formControlName="searchKey">
          <mat-option *ngFor="let filter of filters" [value]="filter">{{
            filter
          }}</mat-option>
        </mat-select>
        <mat-error
          class="mb-3"
          *ngIf="filterForm.get('searchKey')?.touched&&filterForm.get('searchKey')?.errors?.['required']"
        >
          Please choose value to filter by
        </mat-error>
      </mat-form-field>
    </form>

    <button
      (click)="onReset()"
      class="reset-button text-primary"
      [class.show]="isFilterApplied"
    >
      <mat-icon>refresh</mat-icon>
      <span class="fs-5 fw-medium ps-1">Reset</span>
    </button>
  </div>
</div>
