<section class="auth-container">
  <div class="container">
    <div
      class="row justify-content-center align-items-center min-vh-100 text-capitalize"
    >
      <div class="col-md-10 col-lg-6 p-4 rounded rounded-2">
        <div class="text-center my-1">
          <img src="assets/images/logo.svg" width="250px" />
        </div>

        <!-- regForm -->
        <div class="form-container">
          <div class="text-main fs-2">
            <i
              class="fa-solid fa-arrow-left"
              role="button"
              routerLink="/auth/forget-password"
            ></i>
          </div>
          <div class="my-3">
            <p class="text-white mb-0">welcome in PMS</p>
            <h4 class="text-main">
              <span class="border-bottom border-warning">R</span>eset Password
            </h4>
          </div>
          <form [formGroup]="resetPasswordForm">
            <mat-form-field class="w-100" appearance="fill" floatLabel="always">
              <mat-label>Email</mat-label>
              <input
                type="email"
                formControlName="email"
                matInput
                placeholder="Enter your Email"
                [errorStateMatcher]="matcher"
              />
              <div
                *ngIf="
                  resetPasswordForm.controls.email.touched &&
                  resetPasswordForm.controls.email.errors
                "
              >
                <ng-container
                  [ngSwitch]="
                    resetPasswordForm.controls.email | processFormErrors
                  "
                >
                  <mat-error *ngSwitchCase="'required'">{{
                    AuthErrorMessages.email.required
                  }}</mat-error>
                  <mat-error *ngSwitchCase="'email'">{{
                    AuthErrorMessages.email.pattern
                  }}</mat-error>
                </ng-container>
              </div>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="fill" floatLabel="always">
              <mat-label>OTP Verfication</mat-label>
              <input
                type="text"
                formControlName="seed"
                matInput
                placeholder="Enter Verification"
              />
              <div
                *ngIf="
                  resetPasswordForm.controls.seed.touched &&
                  resetPasswordForm.controls.seed.errors
                "
              >
                <ng-container
                  [ngSwitch]="
                    resetPasswordForm.controls.seed | processFormErrors
                  "
                >
                  <mat-error *ngSwitchCase="'required'">{{
                    AuthErrorMessages.code.required
                  }}</mat-error>
                  <mat-error *ngSwitchCase="'pattern'">{{
                    AuthErrorMessages.code.pattern
                  }}</mat-error>
                </ng-container>
              </div>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="fill" floatLabel="always">
              <mat-label>New Password</mat-label>
              <input
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
                matInput
                placeholder="Enter Your New Password"
              />
              <mat-icon class="text-white" matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
              <div
                *ngIf="
                  resetPasswordForm.controls.password.touched &&
                  resetPasswordForm.controls.password.errors
                "
              >
                <ng-container
                  [ngSwitch]="
                    resetPasswordForm.controls.password | processFormErrors
                  "
                >
                  <mat-error *ngSwitchCase="'required'">{{
                    AuthErrorMessages.password.required
                  }}</mat-error>
                  <mat-error *ngSwitchCase="'pattern'">{{
                    AuthErrorMessages.password.pattern
                  }}</mat-error>
                </ng-container>
              </div>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="fill" floatLabel="always">
              <mat-label>Confirm New Password</mat-label>
              <input
                [type]="hide ? 'password' : 'text'"
                formControlName="confirmpassword"
                matInput
                placeholder="Confirm New Password"
              />
              <mat-icon class="text-white" matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
              <div
                *ngIf="
                  resetPasswordForm.controls.confirmpassword.touched &&
                  resetPasswordForm.controls.confirmpassword.errors
                "
              >
                <ng-container
                  [ngSwitch]="
                    resetPasswordForm.controls.confirmpassword
                      | processFormErrors
                  "
                >
                  <mat-error *ngSwitchCase="'required'">{{
                    AuthErrorMessages.confirmPassword.required
                  }}</mat-error>
                  <mat-error *ngSwitchCase="'pattern'">{{
                    AuthErrorMessages.confirmPassword.pattern
                  }}</mat-error>
                  <mat-error *ngSwitchCase="'notMatch'">{{
                    AuthErrorMessages.confirmPassword.notMatch
                  }}</mat-error>
                </ng-container>
              </div>
            </mat-form-field>

            <div class="text-center mt-4">
              <button
                mat-fab
                extended
                class="text-white w-100 primary-btn"
                (click)="submit()"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
