<div class="main-content px-4 py-2">
  <div class="row mx-0">
    <div class="main-img my-3 rounded-4 col-md-12 d-flex align-items-center">
      <div class="px-3">
        <h1 class="title text-white mb-3">
          Welcome
          <span class="text-main">
            {{ this.profile.userName }}
          </span>
        </h1>
        <p class="subtitle text-white">
          You can add project and assign tasks to your team
        </p>
      </div>
    </div>
  </div>
  <div class="row mx-0 justify-content-between">
    <div
      class="chart col-md-5 rounded-4 shadow px-3 pt-3 d-flex flex-column justify-content-between"
    >
      <label class="title">Tasks Overview</label>
      <ngx-charts-pie-chart
        [results]="allTaskStatus"
        [animations]="animationPC"
        [scheme]="colorScheme"
        [labels]="labelsPC"
        [doughnut]="doughnut"
        [tooltipText]="percentageFormatterPC"
        class="w-100 d-inline"
      ></ngx-charts-pie-chart>
    </div>
    <div
      class="chart col-md-5 rounded-5 shadow px-3 pt-3 d-flex flex-column justify-content-between"
    >
      <label class="title">Users Overview</label>
      <div
        class="chart-container d-flex justify-content-center align-items-center"
      >
        <ngx-charts-number-card
          [animations]="animationPC"
          [results]="allUsers"
          [scheme]="colorScheme"
        ></ngx-charts-number-card>
      </div>
    </div>
  </div>
</div>
