.banner {
    background: url("../../../../assets/images/projects.jpeg");
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 35vh;
  }
  