<div class="py-3">
  <div class="d-flex justify-content-end mb-3 mx-3">
    <mat-icon mat-dialog-close class="text-danger" (click)="onClose()"
      >cancel</mat-icon
    >
  </div>

  <div class="text-center">
    <h4 class="mt-3 fs-3 mb-4">{{ statusText }} {{ user?.userName }} ?</h4>

    <p class="fs-6">
      Are you sure you want to {{ statusText | lowercase }}
      {{ user?.userName }} ? If you are sure just click on
      {{ statusText | lowercase }}
    </p>
  </div>

  <mat-divider class="my-4"></mat-divider>

  <div class="d-flex justify-content-end">
    <button [mat-dialog-close]="data.id" class="grey-btn px-4 py-1 w-auto mx-3">
      <span> {{ statusText }}</span>
    </button>
  </div>
</div>
