<app-page-header
  pageTitle="View task"
  navigateBackText="View all tasks"
  (navigateBackEvent)="navigateToTasksList()"
></app-page-header>

<div class="card mx-auto p-5 m-5 col-8">
  <div class="dard-body">
    <form [formGroup]="viewTaskForm">
      <div>
        <mat-label>Title</mat-label>
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          class="example-form-field w-100"
        >
          <input formControlName="title" matInput type="text" />
        </mat-form-field>
      </div>
      <div>
        <mat-label>Description</mat-label>
        <mat-form-field
          class="example-full-width w-100"
          appearance="outline"
          floatLabel="always"
        >
          <textarea
            rows="3"
            formControlName="description"
            matInput
            placeholder="Description"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-label class="d-block">Employee</mat-label>
          <mat-form-field
            class="w-100"
            appearance="outline"
            floatLabel="always"
          >
            <mat-select formControlName="employeeId">
              <mat-option
                *ngFor="let employee of employeesList"
                [value]="employee.id"
              >
                {{ employee.userName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-label class="d-block">Project</mat-label>
          <mat-form-field
            class="w-100"
            appearance="outline"
            floatLabel="always"
          >
            <mat-select formControlName="projectId">
              <mat-option
                *ngFor="let project of ProjectList"
                [value]="project.id"
              >
                {{ project.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
