<form
  [formGroup]="ChangePasswordForm"
  (ngSubmit)="onSubmit(ChangePasswordForm)"
  class="form p-5"
>
  <!-- Email Field -->
  <mat-label>Old password</mat-label>
  <mat-form-field class="w-100" appearance="outline" floatLabel="always">
    <input
      [type]="hide ? 'password' : 'text'"
      formControlName="oldPassword"
      matInput
      placeholder="Enter your old password"
      [errorStateMatcher]="matcher"
    />
    <mat-icon class="text-white" matSuffix (click)="hide = !hide">{{
      hide ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error
      *ngIf="
        ChangePasswordForm.controls.oldPassword.touched &&
        ChangePasswordForm.controls.oldPassword.errors
      "
    >
      <ng-container
        [ngSwitch]="ChangePasswordForm.controls.oldPassword | processFormErrors"
      >
        <ng-container *ngSwitchCase="'required'"
          >Old password is required</ng-container
        >
        <ng-container *ngSwitchCase="'pattern'">{{
          AuthErrorMessages.password.pattern
        }}</ng-container>
      </ng-container>
    </mat-error>
  </mat-form-field>

  <!-- Code Field -->
  <mat-label>New password</mat-label>
  <mat-form-field class="w-100" appearance="outline" floatLabel="always">
    <input
      [type]="hide ? 'password' : 'text'"
      formControlName="newPassword"
      matInput
      placeholder="Enter your new password"
    />
    <mat-icon class="text-white" matSuffix (click)="hide = !hide">{{
      hide ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error
      *ngIf="
        ChangePasswordForm.controls.newPassword.touched &&
        ChangePasswordForm.controls.newPassword.errors
      "
    >
      <ng-container
        [ngSwitch]="ChangePasswordForm.controls.newPassword | processFormErrors"
      >
        <ng-container *ngSwitchCase="'required'"
          >New password is required</ng-container
        >
        <ng-container *ngSwitchCase="'pattern'">{{
          AuthErrorMessages.password.pattern
        }}</ng-container>
      </ng-container>
    </mat-error>
  </mat-form-field>

  <mat-label>Confirm new password</mat-label>
  <mat-form-field class="w-100" appearance="outline" floatLabel="always">
    <input
      [type]="hide ? 'password' : 'text'"
      formControlName="confirmNewPassword"
      matInput
      placeholder="Enter your new password"
    />
    <mat-icon class="text-white" matSuffix (click)="hide = !hide">{{
      hide ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error
      *ngIf="
        ChangePasswordForm.controls.confirmNewPassword.touched &&
        ChangePasswordForm.controls.confirmNewPassword.errors
      "
    >
      <ng-container
        [ngSwitch]="
          ChangePasswordForm.controls.confirmNewPassword | processFormErrors
        "
      >
        <ng-container *ngSwitchCase="'required'"
          >Confirm password is required</ng-container
        >
        <ng-container *ngSwitchCase="'pattern'">{{
          AuthErrorMessages.password.pattern
        }}</ng-container>
      </ng-container>
    </mat-error>
  </mat-form-field>

  <!-- Submit Button -->
  <div class="text-center">
    <div class="d-flex justify-content-between pt-4">
      <button
        type="reset"
        class="outline-grey-btn px-4 py-2 w-auto"
        mat-dialog-close
      >
        Cancel
      </button>
      <button
        type="submit"
        class="primary-btn px-4 py-2 w-auto"
        (click)="onSubmit(ChangePasswordForm)"
      >
        Save
      </button>
    </div>
  </div>
</form>
