<section class="auth-container">
  <div class="container">
    <div
      class="row justify-content-center align-items-center min-vh-100 text-capitalize"
    >
      <div class="col-md-10 col-lg-6 p-4 rounded rounded-2">
        <div class="text-center my-1">
          <img src="assets/images/logo.svg" width="250px" />
        </div>

        <!-- regForm -->
        <div class="form-container px-5">
          <div class="text-main fs-2">
            <i
              class="fa-solid fa-arrow-left"
              role="button"
              routerLink="/auth/register-account"
            ></i>
          </div>

          <div class="mt-3 mb-4">
            <p class="text-white mb-0">welcome in PMS</p>
            <h4 class="text-main">
              <span class="border-bottom border-4 border-warning">V</span>erify
              account
            </h4>
          </div>
          <form [formGroup]="verifyForm">
            <!-- Email Field -->
            <mat-form-field class="w-100" appearance="fill" floatLabel="always">
              <mat-label>Email</mat-label>
              <input
                type="email"
                formControlName="email"
                matInput
                placeholder="Enter your email"
                [errorStateMatcher]="matcher"
              />
              <ng-container
                *ngIf="
                  verifyForm.controls.email.touched &&
                  verifyForm.controls.email.errors
                "
              >
                <ng-container
                  [ngSwitch]="verifyForm.controls.email | processFormErrors"
                >
                  <mat-error *ngSwitchCase="'required'">{{
                    AuthErrorMessages.email.required
                  }}</mat-error>
                  <mat-error *ngSwitchCase="'email'">{{
                    AuthErrorMessages.email.pattern
                  }}</mat-error>
                </ng-container>
              </ng-container>
            </mat-form-field>

            <!-- Code Field -->
            <mat-form-field class="w-100" appearance="fill" floatLabel="always">
              <mat-label>Code</mat-label>
              <input
                type="text"
                formControlName="code"
                matInput
                placeholder="Enter verification code"
              />
              <ng-container
                *ngIf="
                  verifyForm.controls.code.touched &&
                  verifyForm.controls.code.errors
                "
              >
                <ng-container
                  [ngSwitch]="verifyForm.controls.code | processFormErrors"
                >
                  <mat-error *ngSwitchCase="'required'">{{
                    AuthErrorMessages.code.required
                  }}</mat-error>
                  <mat-error *ngSwitchCase="'pattern'">{{
                    AuthErrorMessages.code.pattern
                  }}</mat-error>
                </ng-container>
              </ng-container>
            </mat-form-field>

            <!-- Submit Button -->
            <div class="text-center mt-4">
              <button
                mat-fab
                extended
                class="text-white w-100 primary-btn"
                (click)="submit()"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
