<form [formGroup]="form">
  <label>user</label>
  <input type="text" formControlName="user" />

  <div *ngIf="form.controls.user.touched && form.controls.user.errors">
    <ng-container [ngSwitch]="form.controls.user | processFormErrors">
      <small class="text-danger" *ngSwitchCase="'required'">{{
        AuthErrorMessages.user.required
        }}</small>
      <small class="text-danger" *ngSwitchCase="'minlength'">{{
        AuthErrorMessages.user.minlength
        }}</small>
      <small class="text-danger" *ngSwitchCase="'maxlength'">{{
        AuthErrorMessages.user.maxlength
        }}</small>
    </ng-container>
  </div>
</form>