<h2 class="text-accent">Verify Account</h2>

<form [formGroup]="verifyForm">
  <mat-form-field class="w-100" appearance="fill" floatLabel="always">
    <mat-label>Email</mat-label>
    <input
      type="email"
      formControlName="email"
      matInput
      placeholder="Enter your Email"
      [errorStateMatcher]="matcher"
    />
    <div
      *ngIf="
        verifyForm.controls.email.touched && verifyForm.controls.email.errors
      "
    >
      <ng-container [ngSwitch]="verifyForm.controls.email | processFormErrors">
        <mat-error *ngSwitchCase="'required'">{{
          AuthErrorMessages.email.required
        }}</mat-error>
        <mat-error *ngSwitchCase="'email'">{{
          AuthErrorMessages.email.pattern
        }}</mat-error>
      </ng-container>
    </div>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="fill" floatLabel="always">
    <mat-label>Code</mat-label>
    <input
      type="text"
      formControlName="code"
      matInput
      placeholder="Enter Verification"
    />
    <div
      *ngIf="
        verifyForm.controls.code.touched && verifyForm.controls.code.errors
      "
    >
      <ng-container [ngSwitch]="verifyForm.controls.code | processFormErrors">
        <mat-error *ngSwitchCase="'required'">{{
          AuthErrorMessages.code.required
        }}</mat-error>
        <mat-error *ngSwitchCase="'pattern'">{{
          AuthErrorMessages.code.pattern
        }}</mat-error>
      </ng-container>
    </div>
  </mat-form-field>

  <div class="text-center mt-4">
    <button
      mat-fab
      extended
      color="accent"
      class="text-white w-100"
      (click)="submit()"
    >
      Submit
    </button>
  </div>
</form>
