.content {
  margin-top: 80px;
}

.content-on-expanded-sidebar {
  margin-left: 250px;

  min-width: calc(100vw - 270px);
}

.content-on-collpased-sidebar {
  margin-left: 75px;

  min-width: calc(100vw - 95px);
}

.dashboard-container{
  min-height: 100vh;
}