.content{
  margin-top: 80px;
}

.content-on-expanded-sidebar {
  margin-left: 230px;

  min-width: calc(100vw - 250px);
}

.content-on-collpased-sidebar {
  margin-left: 75px;

  min-width: calc(100vw - 95px);
}
