<section class="auth-container">
  <div class="container">
    <div
      class="row justify-content-center align-items-center min-vh-100 text-capitalize"
    >
      <div class="col-md-10 col-lg-6 p-4 rounded rounded-2">
        <div class="text-center my-1">
          <img src="assets/images/logo.svg" width="250px" />
        </div>

        <!-- regForm -->
        <div class="form-container">
          <div class="text-main fs-2">
            <i
              class="fa-solid fa-arrow-left"
              role="button"
              routerLink="/auth/login"
            ></i>
          </div>
          <div class="my-3">
            <p class="text-white mb-0">welcome in PMS</p>
            <h4 class="text-main">
              <span class="border-bottom border-4 border-warning">F</span>orget
              password
            </h4>
          </div>
          <form [formGroup]="forgetPassForm">
            <mat-form-field class="w-100" appearance="fill" floatLabel="always">
              <mat-label>Email</mat-label>
              <input
                type="email"
                formControlName="email"
                matInput
                placeholder="Enter your email"
                [errorStateMatcher]="matcher"
              />

              <mat-error
                *ngIf="
                  forgetPassForm.controls.email.touched &&
                  forgetPassForm.controls.email.errors
                "
              >
                <ng-container
                  [ngSwitch]="forgetPassForm.controls.email | processFormErrors"
                >
                  <ng-container *ngSwitchCase="'required'">{{
                    AuthErrorMessages.email.required
                  }}</ng-container>
                  <ng-container *ngSwitchCase="'email'">{{
                    AuthErrorMessages.email.pattern
                  }}</ng-container>
                </ng-container>
              </mat-error>
            </mat-form-field>

            <div class="text-center mt-4">
              <button
                mat-fab
                extended
                color="accent"
                class="text-white w-100 primary-btn"
                (click)="Verify()"
              >
                Verify
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
