<h2 class="text-accent">Forget Password</h2>

<form [formGroup]="forgetPassForm">

    <mat-form-field class="w-100" appearance="fill" floatLabel="always">
        <mat-label>Email</mat-label>
        <input
          type="email"
          formControlName="email"
          matInput
          placeholder="Enter your Email"
          [errorStateMatcher]="matcher"
        />

        <div *ngIf="forgetPassForm.controls.email.touched && forgetPassForm.controls.email.errors">
            <ng-container [ngSwitch]="forgetPassForm.controls.email | processFormErrors">
                <mat-error *ngSwitchCase="'required'">{{
                  AuthErrorMessages.email.required
                }}</mat-error>
                <mat-error *ngSwitchCase="'email'">{{
                  AuthErrorMessages.email.pattern
                }}</mat-error>
              </ng-container>
        </div>
    </mat-form-field>

        <div class="text-center mt-4">
            <button
              mat-fab
              extended
              color="accent"
              class="text-white w-100"
              (click)="Verify()"
            >
              Verify
            </button>
          </div>
</form>