<section class="auth-container">
  <div class="container">
    <div
      class="row justify-content-center align-items-center min-vh-100 text-capitalize"
    >
      <div class="col-md-10 col-lg-8 p-4 rounded rounded-2">
        <div class="text-center my-1">
          <img src="assets/images/logo.svg" width="250px" />
        </div>

        <!-- regForm -->
        <div class="form-container px-5">
          <div class="my-3">
            <p class="text-white mb-0">welcome in PMS</p>
            <h4 class="text-main">
              <span class="border-bottom border-4 border-warning">C</span>reate
              New Account
            </h4>
          </div>
          <form
            [formGroup]="registerForm"
            (ngSubmit)="onRegister(registerForm)"
          >
            <!-- img dropzone -->
            <ngx-dropzone
              (change)="onSelect($event)"
              class="bg-transparent border-0 mx-auto my-3 overflow-hidden  rounded-3"
            >
              <ngx-dropzone-label
                class="uploadimg w-100 h-100 d-flex justify-content-center  align-items-center"
              >
                <mat-icon class="mat-18 text-warning  rounded-3">photo_camera</mat-icon>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview
                class="w-100 m-0 rounded-circle"
                *ngFor="let f of files"
                [file]="files[0]"
                [removable]="true"
                (removed)="onRemove(f)"
              >
                {{ f.name }} ({{ f.type }})
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
            <!-- input fields -->
            <div class="row">
              <div class="col-md-6">
                <mat-form-field
                  class="w-100 bg-transparent"
                  appearance="fill"
                  floatLabel="always"
                >
                  <mat-label>Username</mat-label>
                  <input
                    matInput
                    formControlName="userName"
                    placeholder="Enter your name"
                  />
                  <ng-container
                    *ngIf="
                      registerForm.get('userName')?.touched &&
                      registerForm.get('userName')?.errors
                    "
                  >
                    <mat-error
                      *ngIf="registerForm.get('userName')?.hasError('required')"
                    >
                      Username is <strong>required</strong>
                    </mat-error>
                  </ng-container>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field
                  class="w-100"
                  appearance="fill"
                  floatLabel="always"
                >
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    formControlName="email"
                    placeholder="Enter your E-mail"
                  />
                  <ng-container
                    *ngIf="
                      registerForm.get('email')?.touched &&
                      registerForm.get('email')?.errors
                    "
                  >
                    <mat-error
                      *ngIf="
                        registerForm.get('email')?.hasError('email') &&
                        !registerForm.get('email')?.hasError('required')
                      "
                    >
                      Please enter a valid email address
                    </mat-error>
                    <mat-error
                      *ngIf="registerForm.get('email')?.hasError('required')"
                    >
                      Email is <strong>required</strong>
                    </mat-error></ng-container
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field
                  class="w-100"
                  appearance="fill"
                  floatLabel="always"
                >
                  <mat-label>Country</mat-label>
                  <input
                    matInput
                    formControlName="country"
                    placeholder="Enter your country"
                  />
                  <ng-container
                    *ngIf="
                      registerForm.get('country')?.touched &&
                      registerForm.get('country')?.errors
                    "
                  >
                    <mat-error
                      *ngIf="registerForm.get('country')?.hasError('required')"
                    >
                      Country is <strong>required</strong>
                    </mat-error>
                  </ng-container>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field
                  class="w-100"
                  appearance="fill"
                  floatLabel="always"
                >
                  <mat-label>Phone Number</mat-label>
                  <input
                    matInput
                    formControlName="phoneNumber"
                    placeholder="Enter your phone number"
                  />
                  <ng-container
                    *ngIf="
                      registerForm.get('phoneNumber')?.touched &&
                      registerForm.get('phoneNumber')?.errors
                    "
                  >
                    <mat-error
                      *ngIf="
                        registerForm.get('phoneNumber')?.hasError('required')
                      "
                    >
                      Phone number is <strong>required</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        registerForm.get('phoneNumber')?.hasError('pattern')
                      "
                    >
                      Phone number is <strong>invalid</strong>
                    </mat-error></ng-container
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field
                  class="w-100"
                  appearance="fill"
                  floatLabel="always"
                >
                  <mat-label>Password</mat-label>
                  <input
                    [type]="hide ? 'password' : 'text'"
                    matInput
                    type="password"
                    formControlName="password"
                    placeholder="Enter your Password"
                  />
                  <mat-icon
                    class="text-white"
                    matSuffix
                    (click)="hide = !hide"
                    >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
                  >

                  <ng-container
                    *ngIf="
                      registerForm.get('password')?.touched &&
                      registerForm.get('password')?.errors
                    "
                  >
                    <mat-error
                      *ngIf="registerForm.get('password')?.hasError('required')"
                    >
                      Password is <strong>required</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="registerForm.get('password')?.hasError('pattern')"
                    >
                      Password minlength is 6 , should contain uppercase and
                      special characters
                    </mat-error></ng-container
                  >
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field
                  class="w-100 position-relative"
                  appearance="fill"
                  floatLabel="always"
                >
                  <mat-label>Confirm Password</mat-label>
                  <input
                    [type]="hide ? 'password' : 'text'"
                    matInput
                    type="password"
                    formControlName="confirmPassword"
                    placeholder="Confirm New Password"
                  />
                  <mat-icon
                    class="text-white"
                    matSuffix
                    (click)="hide = !hide"
                    >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
                  >
                  <ng-container
                    *ngIf="
                      registerForm.get('confirmPassword')?.touched &&
                      registerForm.get('confirmPassword')?.errors
                    "
                  >
                    <mat-error
                      *ngIf="
                        registerForm.get('confirmPassword')?.hasError('require')
                      "
                    >
                      confirm Password is <strong>required</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        registerForm.get('confirmPassword')?.hasError('notsame')
                      "
                    >
                      Confirm Password does not match Password.
                    </mat-error></ng-container
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="links">
              <a class="text-main" routerLink="/auth/login">Login Now!</a>
              <a class="text-white" routerLink="/auth/verify-account"
                >Have a Code?</a
              >
            </div>
            <button mat-raised-button class="primary-btn mx-auto" type="submit">
              Register
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
