<div class="page-header">
  <a
    class="header-link text-decoration-none text-dark p-3"
    routerLink="/dashboard/manager/projects/list"
  >
    <i class="fa-solid fa-arrow-left me-2"></i>View All Projects</a
  >
  <h1 class="page-title p-3">Add New Project</h1>
</div>
<div class="card mx-auto p-5 m-5 col-8">
  <div class="dard-body">
    <form
      [formGroup]="addNewProjectForm"
      (ngSubmit)="onSubmit(addNewProjectForm)"
    >
      <div class="py-4">
        <label class="text-secondary py-3">Title</label>
        <input
          formControlName="title"
          type="text"
          class="form-control rounded-5 text-secondary"
          placeholder="Name"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="py-4">
        <label class="text-secondary py-3">Description</label>
        <input
          formControlName="description"
          type="text"
          class="form-control rounded-5 text-secondary"
          placeholder="Description"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="buttons d-flex justify-content-between py-4">
        <button type="reset" class="rounded-5 p-2 bttn">cancel</button>
        <button type="submit" class="rounded-5 p-2 bttn-save">save</button>
      </div>
    </form>
  </div>
</div>
