<div class="page-header my-3 py-3 bg-white">
  <a
    class="header-link text-decoration-none text-dark p-3"
    routerLink="/dashboard/manager/projects/list"
  >
    <i class="fa-solid fa-arrow-left me-2"></i>View all projects</a
  >
  <h1 class="page-title p-3">Add new project</h1>
</div>
<div class="card mx-auto p-5 m-5 col-8">
  <div class="dard-body">
    <form
      [formGroup]="addNewProjectForm"
      (ngSubmit)="onSubmit(addNewProjectForm)"
    >
      <div class="py-2">
        <mat-label>Title</mat-label>
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          class="example-form-field w-100"
        >
          <input
            formControlName="title"
            matInput
            type="text"
            placeholder="project title"
          />
        </mat-form-field>
      </div>
      <div class="py-2">
        <mat-label>Description</mat-label>
        <mat-form-field
          class="example-full-width w-100"
          appearance="outline"
          floatLabel="always"
        >
          <textarea
            rows="3"
            formControlName="description"
            matInput
            placeholder="Project description"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="buttons d-flex justify-content-between py-2">
        <button type="reset" class="rounded-5 p-2 bttn">Cancel</button>
        <button type="submit" class="rounded-5 p-2 bttn-save">Save</button>
      </div>
    </form>
  </div>
</div>
