<app-page-header
  [pageTitle]="pageId ? 'Edit project' : 'Add new project'"
  navigateBackText="View all projects"
  (navigateBackEvent)="navigateToProjectsList()"
></app-page-header>

<div class="card mx-auto pt-4 m-5 col-8">
  <div class="dard-body">
    <form class="px-5" [formGroup]="addNewProjectForm">
      <div>
        <mat-label class="outline-form-field-top-label">Title</mat-label>
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          class="example-form-field w-100 rounded-form-field-outline-sm"
        >
          <input
            formControlName="title"
            matInput
            type="text"
            placeholder="Enter project title"
          />

          <mat-error
            *ngIf="
              addNewProjectForm.controls.title.touched &&
              addNewProjectForm.controls.title.errors
            "
          >
            <ng-container
              [ngSwitch]="addNewProjectForm.controls.title | processFormErrors"
            >
              <ng-container *ngSwitchCase="'required'"
                >Title is required</ng-container
              >
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-label class="outline-form-field-top-label">Description</mat-label>
        <mat-form-field
          class="example-full-width w-100 rounded-form-field-outline-sm"
          appearance="outline"
          floatLabel="always"
        >
          <textarea
            rows="3"
            formControlName="description"
            matInput
            placeholder="Enter project description"
          ></textarea>

          <mat-error
            *ngIf="
              addNewProjectForm.controls.description.touched &&
              addNewProjectForm.controls.description.errors
            "
          >
            <ng-container
              [ngSwitch]="
                addNewProjectForm.controls.description | processFormErrors
              "
            >
              <ng-container *ngSwitchCase="'required'"
                >Description is required</ng-container
              >
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <mat-divider></mat-divider>

    <div class="d-flex justify-content-between px-5 py-4">
      <button type="reset" class="outline-grey-btn px-4 py-2 w-auto">
        Cancel
      </button>
      <button
        type="submit"
        class="primary-btn px-4 py-2 w-auto"
        (click)="onSubmit(addNewProjectForm)"
      >
        Save
      </button>
    </div>
  </div>
</div>
