.sidebar {
    // background-color: var(--secondary-color);
    background-color: #0E382F;
  
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  
    min-height: 100vh;
    width: 243px;
    transition: width 0.3s;
  
    z-index: 100000;
  
    img,
    mat-icon {
      cursor: pointer;
    }
  
    .list-group-item {
      border: none;
      background-color: transparent;
      color: #fff;
  
      position: relative;
      transition: all ease-in-out 0.3s;
  
      cursor: pointer;
  
      span {
        opacity: 0.65;
  
        font-size: 13px;
        font-weight: 500;
      }
  
      &::before {
        position: absolute;
        content: "";
        left: 0;
        border: 0;
        height: 100%;
        width: 0;
        background-color: #009247;
        transition: width 0.3s ease-in-out;
      }
  
      &:hover,
      &.active {
        background-color: rgba(#00924d, 0.1);
  
        &::before {
          width: 4px;
        }
      }
    }
  }
  
  .collapsed {
    width: 50px;
  }
  