<aside class="sidebar" id="sidebar">
  <ul class="list-group">
    <li class="text-center my-5">
      <span *ngIf="!isCollapsed; else expandIcon"
        class="d-flex toggler rounded-start-2 justify-content-center align-items-center"
        (click)="toggleSideBarExpansion()">
        < </span>
          <ng-template #expandIcon>
            <mat-icon class="text-white mt-3" (click)="toggleSideBarExpansion()">menu</mat-icon>
          </ng-template>
    </li>
    <ng-container *ngFor="let route of routes">
      <li *ngIf="route.present && !route.onClick" class="list-group-item py-3 d-flex align-items-center"
        [routerLink]="route.routeTo" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
        [class.px-4]="!isCollapsed">
        <i [class]="route.iconClass"></i>
        <span *ngIf="!isCollapsed" class="mx-2">{{ route.text }}</span>
      </li>
      <li *ngIf="route.present && route.onClick" class="list-group-item py-3 d-flex align-items-center"
        [class.px-4]="!isCollapsed" (click)="route.onClick()">
        <i [class]="route.iconClass"></i>
        <span *ngIf="!isCollapsed" class="mx-2">{{ route.text }}</span>
      </li>
    </ng-container>
  </ul>
</aside>