<div
  class="d-flex justify-content-between align-items-center bg-white py-4 px-5"
>
  <div>
    <a
      class="navigate-back mb-2"
      *ngIf="navigateBackText"
      (click)="handleNavigateBackClick()"
    >
      <mat-icon>chevron_left</mat-icon>
      <span class="px-1">{{ navigateBackText }}</span></a
    >
    <h4 class="title">{{ pageTitle }}</h4>
  </div>

  <button
    *ngIf="actionBtnText"
    class="w-auto primary-btn px-5 py-2"
    type="submit"
    (click)="handleActionClick()"
  >
    <i class="fa-solid fa-plus px-1"></i> {{ actionBtnText }}
  </button>
</div>
