.title {
  font-size: 28px;
  font-family: Montserrat;
  font-weight: 500;

  color: #4f4f4f;

  margin-bottom: 0 !important;
}

.navigate-back {
  display: flex;
  align-items: center;

  color: #0e382f;
  font-weight: 400;
  font-family: Montserrat;

  text-decoration: none;

  cursor: pointer;
}
