.auth-container {
  background-color: #0e382f !important;
  min-height: 100vh !important;
  justify-content: center !important;
  align-items: center !important;
}

.form-container {
  background-color: #315951e5 !important;
  opacity: 0.9;
}
