<app-page-header
  pageTitle="Projects"
  actionBtnText="Add Project"
  (actionBtnEvent)="navigateToAddProject()"
></app-page-header>

<div class="px-4">
  <div class="bg-white pt-3 px-3 mt-4 rounded rounded-top-3">
    <mat-form-field
      (keydown.enter)="getProjectsList()"
      appearance="outline"
      class="bg-white rounded-form-field-outline"
    >
      <mat-icon matPrefix (click)="getProjectsList()">search</mat-icon>
      <input
        matInput
        [(ngModel)]="searchBytitle"
        placeholder="Search by title..."
        class="py-0"
      />
    </mat-form-field>
  </div>

  <app-list
    [headers]="headers"
    [data]="projectsList"
    [length]="length"
    [pageNumber]="pageNumber"
    [pageSize]="pageSize"
    (handleViewEvent)="onViewAction($event)"
    (handleEditEvent)="onEditAction($event)"
    (handleDeleteEvent)="onDeleteAction($event)"
    (handlePageEvent)="onPageEvent($event)"
  ></app-list>
</div>
