<app-page-header
  pageTitle="Projects"
  actionBtnText="Add new Project"
  (actionBtnEvent)="navigateToAddProject()"
></app-page-header>

<div class="px-4">
  <app-filter
    [filters]="[]"
    (search)="onSearchAction($event)"
    (reset)="onResetAction()"
  ></app-filter>

  <app-list
    [headers]="headers"
    [data]="projectsList"
    [length]="length"
    [pageNumber]="pageNumber"
    [pageSize]="pageSize"
    (handleViewEvent)="onViewAction($event)"
    (handleEditEvent)="onEditAction($event)"
    (handleDeleteEvent)="onDeleteAction($event)"
    (handlePageEvent)="onPageEvent($event)"
  ></app-list>
</div>
