// Import Angular Material theming and custom fonts
@use "@angular/material" as mat;
@import url("./assets/styles/fonts.scss");
@import "./assets/styles/layouts.scss";

// Include core styles for Angular Material
@include mat.core();

// // Include theme styles for all Angular Material components
// @include mat.all-component-themes($project-managment-theme);

// Set background to transparent for mat-form-field with an outline
.mat-form-field .mat-form-field-outline {
  background-color: transparent !important;
}

// Make sure input background is transparent as well
.mat-form-field .mat-form-field-infix {
  background-color: transparent !important;
}

// Global styles

.mat-typography {
  font-size: 1rem; // Adjust to your preference
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --mdc-filled-text-field-container-color: transparent;
  --mdc-filled-text-field-focus-active-indicator-color: white;
  --mdc-filled-text-field-focus-active-indicator-color: white;
  --mdc-filled-text-field-label-text-color: white;
  --mdc-filled-text-field-indicator-color: white;
  --mdc-filled-text-field-active-indicator-color: white;
  --mdc-filled-text-field-input-text-color: white;
  --mdc-filled-text-field-label-text-color: #f57c00;
  --mdc-filled-text-field-focus-label-text-color: #f57c00;
  --mdc-filled-text-field-hover-active-indicator-color: white;
  --mdc-filled-text-field-input-text-placeholder-color: white;
  --mdc-filled-text-field-label-text-size: 15px;
  --mdc-filled-text-field-label-text-font: Inter-Bold;
  --mdc-filled-text-field-label-text-size: 20px !important;

  --mdc-extended-fab-label-text-font: inter;

  --mdc-outlined-text-field-label-text-font: Inter;
  --mdc-outlined-text-field-outline-color: #ececec;
  --mdc-outlined-text-field-focus-outline-color: #ececec;
  --mdc-outlined-text-field-hover-outline-color: #ececec;
  --mdc-outlined-text-field-input-text-placeholder-color: #c1c1c1;
  --mat-select-placeholder-text-color: #c1c1c1;
  --mat-select-trigger-text-size: 15px;
}
