// Import Angular Material theming and custom fonts
@use "@angular/material" as mat;
@import url("./assets/styles/fonts.scss");

// Include core styles for Angular Material
@include mat.core();

// Define custom palettes for Angular Material theme
$project-managment-primary: mat.define-palette(mat.$indigo-palette); // or mat.$yellow-palette, depending on your preference
$project-managment-accent: mat.define-palette(mat.$orange-palette, 400); // or mat.$pink-palette, depending on your preference
$project-managment-warn: mat.define-palette(mat.$red-palette);
$project-managment-white: white;

// Create theme object
$project-managment-theme: mat.define-light-theme((color: (primary: $project-managment-primary,
        accent: $project-managment-accent,
        warn: $project-managment-warn,
        white: $project-managment-white,
      ),
    ));

// Include theme styles for all Angular Material components
@include mat.all-component-themes($project-managment-theme);

// Additional custom styles
.text-accent {
  color: mat.get-color-from-palette($project-managment-accent) !important;
}

// Set background to transparent for mat-form-field with an outline
.mat-form-field .mat-form-field-outline {
  background-color: transparent !important;
}

// Make sure input background is transparent as well
.mat-form-field .mat-form-field-infix {
  background-color: transparent !important;
}

// Global styles
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}