// Import Angular Material theming and custom fonts
@use "@angular/material" as mat;
@import url("./assets/styles/fonts.scss");

// Include core styles for Angular Material
@include mat.core();

// Define custom palettes for Angular Material theme
// $project-managment-primary: mat.define-palette(mat.$indigo-palette);
// $project-managment-accent: mat.define-palette(mat.$orange-palette, 400);
// $project-managment-warn: mat.define-palette(mat.$red-palette);

// $project-managment-theme: mat.define-light-theme(
//   (
//     color: (
//       primary: $project-managment-primary,
//       accent: $project-managment-accent,
//       warn: $project-managment-warn,
//     ),
//   )
// );

// // Include theme styles for all Angular Material components
// @include mat.all-component-themes($project-managment-theme);

// Additional custom styles
// .text-accent {
//   color: mat.get-color-from-palette($project-managment-accent) !important;
// }

// Set background to transparent for mat-form-field with an outline
.mat-form-field .mat-form-field-outline {
  background-color: transparent !important;
}

// Make sure input background is transparent as well
.mat-form-field .mat-form-field-infix {
  background-color: transparent !important;
}

@import "./assets/styles/layouts.scss";

// Global styles
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --mdc-filled-text-field-container-color: transparent;
  --mdc-filled-text-field-focus-active-indicator-color: white;
  --mdc-filled-text-field-focus-active-indicator-color: white;
  --mdc-filled-text-field-label-text-color: white;
  --mdc-filled-text-field-indicator-color: white;
  --mdc-filled-text-field-active-indicator-color: white;
  --mdc-filled-text-field-input-text-color: white;
  --mdc-filled-text-field-label-text-color: #f57c00;
  --mdc-filled-text-field-focus-label-text-color: #f57c00;
  --mdc-filled-text-field-hover-active-indicator-color: white;
  --mdc-filled-text-field-input-text-placeholder-color: white;
  --mdc-filled-text-field-label-text-size: 15px;

  // The warn palette is optional (defaults to red).
  --mdc-extended-fab-label-text-font: inter;
}
