@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/inter/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/inter/Inter-Bold.ttf");
}
