<div class="page-header">
  <a
    class="header-link text-decoration-none text-dark p-3"
    routerLink="/dashboard/manager/projects/list"
  >
    <i class="fa-solid fa-arrow-left me-2"></i>View All Projects</a
  >
  <h1 class="page-title p-3">view project</h1>
</div>
<div class="card mx-auto p-5 m-5 col-8">
  <div class="dard-body">
    <form [formGroup]="addNewProjectForm">
      <div class="">
        <div class="">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput type="text" />
          </mat-form-field>
        </div>
      </div>
      <div class="">
        <div class="">
          <mat-form-field class="example-form-field w-100">
            <mat-label>description</mat-label>
            <input formControlName="description" matInput type="text" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
