<app-page-header
  pageTitle="View project"
  navigateBackText="View all projects"
  (navigateBackEvent)="navigateToProjectsList()"
></app-page-header>

<div class="card mx-auto p-5 m-5 col-8">
  <div class="dard-body">
    <form [formGroup]="addNewProjectForm">
      <div>
        <mat-label class="outline-form-field-top-label">Title</mat-label>
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          class="example-form-field w-100"
        >
          <input formControlName="title" matInput type="text" />
        </mat-form-field>
      </div>
      <div>
        <mat-label class="outline-form-field-top-label">Description</mat-label>
        <mat-form-field
          class="example-full-width w-100"
          appearance="outline"
          floatLabel="always"
        >
          <textarea
            rows="3"
            formControlName="description"
            matInput
            placeholder="Description"
          ></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
